@import "normalize";
@import "../bower_components/susy/sass/susy";

$susy: (
  columns: 5, 
  container: 1200px,
  gutters: 0.25,
  global-box-sizing: border-box,
);

$map1: (
    columns: 6,
    gutters: 0,
    global-box-sizing: border-box,
);

@import "variables";
@import "mixins";
@import "layout";
@import "fonts";
@import "style";

*, body {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}